/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

/* Navigation Bar Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bff;
}

/* Form Styles */
form {
    width: 300px;
    margin: 20px auto;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Profile Styles */
.profile-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #007bff;
    object-fit: cover;
}

.profile-details {
    margin-left: 20px;
}

.profile-details h3 {
    font-size: 24px;
    color: #333;
}

.profile-details p {
    font-size: 16px;
    color: #555;
}

/* Profile Image Styles */
.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #007bff;
    cursor: pointer;
}
